{% load static %}

<!DOCTYPE html>
<html lang="us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "CSS/req.css" %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Connectify . Request Password</title>
</head>
<body>

<div class="reset_password">
    <div class="reset">
        <div class="password_reset">
            <div class="request_wrapper">
                <div class="request_left">
                    <div class="reset_left_image">
                        <img src="{% static "images/sett.svg" %}" alt="image" />
                    </div>
                </div>

                <div class="request_right">
                    <div class="right_wrapper">
                        <div class="right_mess">
                            <h1>Enter your new password to reset it</h1>
                        </div>
                        <form method='post'>

                            <div class="request_form">
                                <div class="request_form_input">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="email"  />

                                    <button>
                                        <i class="bi bi-shield-lock"></i>
                                    </button>
                                </div>

                                <div class="sent_request">
                                    <button>Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>