{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "CSS/posts.css" %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Connectify . Posts Feed</title>
</head>
<body>
    <div id="toast-container">
        {% for message in messages %}
        <div class="toast">{{ message }}</div>
        {% endfor %}
    </div>

        {% include 'base/base.html' %}
        <div class="all-post">
            <div class="posts_container">
                <div class="all_content">
                    <div class="all_grid">
                        {% for post in allpost %}
                        <div class="post_al">
                            <div class="post_wrap">
                                <div class="post_media">
                                    <div style="cursor: pointer;" class="media" onclick="location.assign('/posts/feed/{{post.id}}/view_post/')">
                                        {% if post.image %}
                                            <img src="{{ post.image.url }}" alt="Post image">
                                        {% elif post.video %}
                                        <video controls>
                                            <source src="{{ post.video.url }}" type="video/mp4">
                                        </video>
                                        {% else %}
                                            <p>No media available.</p>
                                        {% endif %}
                                    </div>
                                </div>

                                {% if post.content %}
                                    <div class="post_descc">
                                        <div class="desp">
                                            <span>{{post.content}}</span>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="attent">
                                    <div class="engage">
                                        <div class="like_but eng">
                                            <form method="post" class="like_cou engCount" id="like-form" data-url="{% url 'like_post' post.id %}">
                                                {% csrf_token %}
                                                {% if request.user in post.likes.all %}
                                                <button id="like-btn" name="like" class="liked">
                                                    <i name="heart" class="bi bi-heart-fill" id="likeIcon">
                                                        <div class="red"></div>
                                                    </i>
                                                </button>
                                                {% else %}
                                                <button id="like-btn" name="like">
                                                    <i name="heart" class="bi bi-heart" id="likeIcon">
                                                        <div class="red"></div>
                                                    </i>
                                                </button>
                                                {% endif %}
        
                                                <div class="like_count engactcou">
                                                    <div class="li_c">
                                                        {% if post.likes.count == 1 %}
                                                        <span id="likes-count">{{post.likes.count}} . like</span>
                                                        {% else %}
                                                        <span id="likes-count">{{post.likes.count }} . likes</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="comment_but eng">
                                            <div style="cursor: pointer;" class="comment_cou engCount" onclick="location.assign('/posts/feed/{{post.id}}/view_post/')">
                                                <button name="comments" class="commentButton">
                                                    <i class="bi bi-chat" id="commentIcon"></i>
                                                </button>
        
                                                <div class="comment_count engactcou">
                                                    <div class="co_c">
                                                        <span>{{post.comments.count}} . comments</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <script src={% static 'JS/posts_feed.js' %}></script>
</body>
</html>