{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "CSS/posts.css" %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Connectify . Posts Feed</title>
</head>
<body>
        {% include 'base/base.html' %}
        <div class="all-post">
            <div class="posts_container">
                <div class="all_p_con">
                    <div class="all_content">
                        <div class="upload">
                            <div class="post_uplod">
                                <div class="do_smth">
                                    <div class="upload_user">
                                        <div class="upla_user_profile">
                                            {% if user.profile.profile_picture %}
                                            <img src="{{ user.profile.profile_picture.url }}" alt="{{ user }}' profile">
                                            {% else %}
                                                <img src="/static/images/avatar-4.png" alt="Default Profile Picture">
                                            {% endif %}
                                        </div>
            
                                        <div class="options_upload">
                                            <div class="uplo_options">
                                                <div class="option_first">
                                                    <div class="op_fir_textbox">
                                                        <div class="onl_txt_b">
                                                            <textarea name="something" id="something" placeholder="what's on your mind"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
            
                                                <div class="option_sec">
                                                    <div class="optio_second">
                                                        <div class="upl_image fl">
                                                            <div class="upload_image">
                                                                <button id="uplod_img">
                                                                    <i class="bi bi-images"></i>
                                                                </button>
                                                            </div>

                                                            <div class="i_des">
                                                                Media
                                                            </div>
                                                        </div>
                                                        <div class="upl_poll fl">
                                                            <div class="upload_poll">
                                                                <button>
                                                                    <i class="bi bi-bar-chart"></i>
                                                                </button>
                                                            </div>

                                                            <div class="i_des">
                                                                Poll
                                                            </div>
                                                        </div>
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="all_p_flex">
                            {% for post in allpost %}
                            <div class="post_al">
                                <div class="post_wrap">
                                    <div class="user_del">
                                        <div class="user_w_p_del">
                                            <div class="user_w_p_prof">
                                                {% if post.user.profile.profile_picture %}
                                                <img src="{{ post.user.profile.profile_picture.url }}" alt="{{ post.user }}' profile">
                                                {% else %}
                                                    <img src="/static/images/avatar-4.png" alt="Default Profile Picture">
                                                {% endif %}
                                            </div>

                                            <div class="user_w_p_d_name">
                                                <p>{{post.user}}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post_media">
                                        <div style="cursor: pointer;" class="media" onclick="location.assign('/posts/feed/{{post.id}}/view_post/')">
                                            {% if post.image %}
                                                <img src="{{ post.image.url }}" alt="Post image">
                                            {% elif post.video %}
                                            <video controls>
                                                <source src="{{ post.video.url }}" type="video/mp4">
                                            </video>
                                            {% else %}
                                                <p>No media available.</p>
                                            {% endif %}
                                        </div>
                                    </div>
    
                                    {% if post.content %}
                                        <div class="post_descc">
                                            <div class="desp">
                                                <span>{{post.content}}</span>
                                            </div>
                                        </div>
                                    {% endif %}
    
                                    <div class="attent">
                                        <div class="engage">
                                            <div class="like_but eng">
                                                <form method="post" class="like_cou engCount" id="like-form" data-url="{% url 'like_post' post.id %}">
                                                    {% csrf_token %}
                                                    {% if request.user in post.likes.all %}
                                                    <button id="like-btn" name="like" class="liked">
                                                        <i name="heart" class="bi bi-heart-fill" id="likeIcon">
                                                            <div class="red"></div>
                                                        </i>
                                                    </button>
                                                    {% else %}
                                                    <button id="like-btn" name="like">
                                                        <i name="heart" class="bi bi-heart" id="likeIcon">
                                                            <div class="red"></div>
                                                        </i>
                                                    </button>
                                                    {% endif %}
            
                                                    <div class="like_count engactcou">
                                                        <div class="li_c">
                                                            {% if post.likes.count == 1 %}
                                                            <span id="likes-count">{{post.likes.count}} . like</span>
                                                            {% else %}
                                                            <span id="likes-count">{{post.likes.count }} . likes</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
    
                                            <div class="comment_but eng">
                                                <div style="cursor: pointer;" class="comment_cou engCount" onclick="location.assign('/posts/feed/{{post.id}}/view_post/')">
                                                    <button name="comments" class="commentButton">
                                                        <i class="bi bi-chat" id="commentIcon"></i>
                                                    </button>
            
                                                    <div class="comment_count engactcou">
                                                        <div class="co_c">
                                                            <span>{{post.comments.count}} . comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="friends_req_view">
                        <div class="new_friends">
                            <div class="new_frie_head">
                                <h3>Friend Request</h3>

                            </div>
                            {% for request in friend_requests %}
                            <div class="main_friands">
                                <div class="fiends_req">
                                    <h3>GORDEN</h3>
                                    <div class="friends_flesa">
                                        <div class="fri_reqa">
                                            <div class="friend_profile">
                                                <img src="{{ user.profile.profile_picture.url }}" alt="friends's profile ">
                                            </div>

                                            <div class="friend_use_nam">
                                                <div class="_f_na">
                                                    <h3>GORDEN</h3>
                                                    <span>{{ request.from_user.username }}</span>
                                                </div>
                                            </div>

                                            <div class="frie_options">
                                                <div class="opt_req">
                                                    <div class="accept opt">
                                                        <div class="frined_accept">
                                                            <a href="{% url 'accept_friend_request' request.id %}">
                                                                <button>
                                                                    <i class="bi bi-check-circle"></i>
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="decline opt">
                                                        <div class="friend_decline">
                                                            <a href="{% url 'reject_friend_request' request.id %}">
                                                                <button>
                                                                    <i class="bi bi-x-circle"></i>
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div>NO requests</div>
                            {% endfor %}
                        </div>

                        <div class="friends_req_view">
                            <div class="new_friends">
                                <div class="new_frie_head">
                                    <h3>Add Friends</h3>
                                </div>
    
                                <div class="main_friands">
                                    <div class="fiends_req">
                                        {% for user in users %}
                                        {% if user != request.user %}
                                        <div class="friends_flesa">
                                            <div class="fri_reqa">
                                                <div class="friend_profile">
                                                    <img src="{{ user.profile.profile_picture.url }}" alt="friends's profile ">
                                                </div>
    
                                                <div class="friend_use_nam">
                                                    <div class="_f_na">
                                                        <span>{{ user.username }}</span>
                                                    </div>
                                                </div>
    
                                                <div class="frie_options">
                                                    <div class="opt_req">
                                                        <div class="accept opt">
                                                            <div class="frined_accept">
                                                                <a href="{% url 'send_friend_request' user.id %}">
                                                                    <button>
                                                                        <i class="bi bi-check-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="decline opt">
                                                            <div class="friend_decline">
                                                                <a href="{% url 'reject_friend_request' request.id %}">
                                                                    <button>
                                                                        <i class="bi bi-x-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="upload_image_popup">
            <div class="cancel">
                <button>
                    <i class="bi bi-x-circle"></i>
                </button>
            </div>
            <form class="image_form" data-url="/posts/create/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="pop_image_container">
                    <div class="i_pop_wrap">
                        <div class="i_pop_head">
                            <h3>Post Media</h3>
                        </div>
    
                        <div class="i_pop_image_display">
                            <div class="i_pop_image_post">
                                <div class="i_pop_image_post_cont">
                                    <input type="file" name="media" accept="image/*, video/*" id="image_post" hidden>
                                    <label for="image_post">
                                        <img id="image-preview" alt="Selected Image Preview">
                                        <video id="video-preview" controls style="display: none;"></video>
                                        <div class="main_image_display">
                                            <div>
                                                Upload media here
                                            </div>

                                            <i class="bi bi-image-fill"></i>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <div class="i_pop_image_ccaption">
                                <div class="i_pop_cap">
                                    <label for="caption">Say something about your post</label>
                                    <textarea name="caption" id="caption"></textarea>
                                </div>
                            </div>
                        </div>
    
                        <div class="i_pop_post">
                            <button id="post_image">
                                <div><span>Post</span></div>
                                <div><i class="bi bi-cloud-upload"></i></div>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    <script type="module" src={% static 'JS/posts_feed.js' %}></script>
    <script type="module" src={% static 'JS/create.js' %}></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>