{% load static %}

<!DOCTYPE html>
<html lang="us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "CSS/messages.css" %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Connectify . Messages Inbox</title>
</head>
<body>
    {% include "base/base.html" %}

    {% for message in messages %}
    {{message}}
    {% endfor %}
    
    <div class="messages">
        <div class="message_container">
            <div class="message_ui_wrapper">
                <div class="message_ui_grid">
                    <div class="friend_chat_display">
                        <div class="chat_left">
                            <div class="left_friend_s">
                                <div class="friends_search">
                                    <div class="search_chat_friends">
                                        <div class="fre_sear">
                                            <input name="search_chat_friends" id="chat_friends_search" type="text" placeholder="Search friends" />
                                            <i class="bi bi-search"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="friendss_">
                                    <h3>Friends</h3>
                                    <div class="act_friends">
                                        <div class="c_f_fle">
                                            {% for accepted_friend in accepted_requests %}
                                            {% if accepted_friend.is_accepted %}
                                            <div class="liscontainer" onclick="location.assign('/messages/chat/@{{accepted_friend.from_user.username}}') ">
                                                <div class="friendProfile">
                                                    {% if accepted_friend.from_user.profile.profile_picture %}
                                                    <img src="{{ accepted_friend.from_user.profile.profile_picture.url }}" alt="friends's profile ">
                                                    {% else %}
                                                    <img src="{% static "images/avatar-4.png" %}" alt="friends's profile ">
                                                    {% endif %}
                                                </div>
                    
                                                <div class="leftmessoverview">
                                                    <div class="over">
                                                        <div class="friendname">
                                                            {% if  accepted_friend.from_user.username %}
                                                            <h3>{{accepted_friend.from_user.username}}</h3>
                                                            {% else %}
                                                            <h3>No username</h3>
                                                            {% endif %}
                                                            
                                                        </div>
                    
                                                        <div class="messageOverview">
                                                            <div class="vieww">
                                                                <span>How you doing man</span>
                                                            </div>
                                                        </div>
                                                    </div>
                    
                                                    <div class="messTime">
                                                        <div class="Timeset">
                                                            <p>01 : 35</p>
                                                        </div>
                    
                                                        <div class="messNum">
                                                            <div class="numcount">
                                                                <span>5</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% empty %}
                                            <div class="empt_friends">
                                                <div class="empt_frind_wrap">
                                                    <div class="empt_friends_img">
                                                        <img src="{% static "images/empt_chat.svg" %}" alt="empty friends image" />
                                                    </div>

                                                    <div class="nf">NO FRIENDS YET</div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="chat_view">
                        
                        {% for request in accepted_requests %}
                        {{ request.from_user.username|json_script:"room-name" }}
                        <div class="chat_view_friend">
                            <div class="user_chat_head">
                                <div class="user_chat_head_wrap">
                                    <div class="user_chat_head_wrap_">
                                        <div class="user_chat_head_wrap_image">
                                            {% if request.from_user.profile.profile_picture %}
                                            <img src="{{ request.from_user.profile.profile_picture.url }}" alt="{{request.from_user.username }}'s profile picture" />
                                            {% else %}
                                            <img src="{% static "images/avatar-4.png" %}" alt="{{request.from_user.username }}'s profile picture" />
                                            {% endif %}
                                            
                                        </div> 

                                        <div class="user_chat_head_wrap_nom">
                                            <div class="user_chat_head_namee">
                                                <div class="user_chat_head_user_name">{{request.from_user.username}}</div>
                                            </div>

                                            <div class="user_chat_head_last_status">
                                                <div class="user_chat_head_user_ls">
                                                    <span class="_status_">Last seen 2:55 pm</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="user_chat_head_namee">
                                        <div class="user_chat_head_user_name">
                                            <button>
                                                <span>
                                                    <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24"><title>menu</title><path fill="currentColor" d="M12,7c1.104,0,2-0.896,2-2c0-1.105-0.895-2-2-2c-1.104,0-2,0.894-2,2 C10,6.105,10.895,7,12,7z M12,9c-1.104,0-2,0.894-2,2c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2C13.999,9.895,13.104,9,12,9z M12,15 c-1.104,0-2,0.894-2,2c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2C13.999,15.894,13.104,15,12,15z"></path></svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="user_chat_view">
                                <div class="user_chat_view_container">
                                    <div class="user_chat__wrapper">
                                        {% for message in all_messages %}
                                            {% if message.user == user_n %}
                                                <div class="user_chat_sent">
                                                    <div class="user_chat_sender_box">
                                                        <div class="user_chat_sender_cont">
                                                            <div class="chat_inbox_send">
                                                                <div class="user_chat_send">{{ message.message_sent }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="user_chat_send_name">
                                                            <span class="send_">Sent at: {{ message.user.username}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="user_chat_receive_wrapper">
                                                    <div class="user_chat_receive_box">
                                                        <div class="user_chat_receive_cont">
                                                            <div class="chat_inbox_receive">
                                                                <div class="user_chat_receive">{{ message.message_received }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="user_chat_receiver_name">
                                                            <span class="inbox">Received at: {{ message.user }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="user_chat_input">
                                <div class="user_chat_input_box">
                                    <div class="user_chat_box">
                                        <div class="chat_input_emoje">
                                            <button id="show_emoji" class="chat_iput_pop">
                                                <i class="bi bi-emoji-smile-fill"></i>
                                            </button>
    
                                            <div class="chat_iput_box_imoji">
                                                <emoji-picker></emoji-picker>
                                            </div>
                                        </div>

                                        <div class="user_chat_box_input">
                                            <div class="user_chat_box_container">
                                                <input type="text" name="message" id="sender_chat" placeholder="Send a message" />
                                            </div>
                                        </div>

                                        <div class="user_chat_send_but">
                                            <div class="user_chat_send">
                                                <button id="send_message" >
                                                    <i class="bi bi-send"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="new_friends">
                        <div class="friends_req_view">
                            <div class="new_friends">
                                <div class="new_frie_head">
                                    <h3>Friend Requests</h3>
                                </div>
                                {% for request in friend_requests %}
                                <div class="main_friands">
                                    <div class="fiends_req">
                                        <div class="friends_flesa">
                                            <div class="fri_reqa">
                                                <div class="friend_profile">
                                                    {% if request.from_user.profile.profile_picture %}
                                                    <img src="{{ request.from_user.profile.profile_picture.url }}" alt="friends's profile ">
                                                    {% else %}
                                                    <img src="{% static "images/avatar-4.png" %}" alt="friends's profile ">
                                                    {% endif %}
                                                </div>
    
                                                <div class="friend_use_nam">
                                                    <div class="_f_na">
                                                        {% if request.from_user.username %}
                                                        <span>{{ request.from_user.username }}</span>
                                                        {% else %}
                                                        <span>No username</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
    
                                                <div class="frie_options">
                                                    <div class="opt_req">
                                                        <div class="accept opt">
                                                            <div class="frined_accept">
                                                                <a href="{% url 'accept_friend_request' request.id %}">
                                                                    <button>
                                                                        <i class="bi bi-check-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="decline opt">
                                                            <div class="friend_decline">
                                                                <a href="{% url 'reject_friend_request' request.id %}">
                                                                    <button>
                                                                        <i class="bi bi-x-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="empt_fr_req">
                                    <div class="empt_fr_req_cont">
                                        <div class="empt_fr_req_img">
                                            <img src="{% static "images/empt_chat.svg" %}" alt="No Friend's request image" />
                                        </div>
                                        <h2>No Friend Requests</h2>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="friends_req_view">
                            <div class="new_friends">
                                <div class="new_frie_head">
                                    <h3>Add Friends</h3>
                                </div>
    
                                <div class="main_friands">
                                    <div class="fiends_req">
                                        {% for user in users %}
                                        {% if user != request.user %}
                                        <div class="friends_flesa">
                                            <div class="fri_reqa">
                                                <div class="friend_profile">
                                                    {% if user.profile.profile_picture %}
                                                    <img src="{{ user.profile.profile_picture.url }}" alt="friends's profile ">
                                                    {% else %}
                                                    <img src="{% static "images/avatar-4.png" %}" alt="friends's profile ">
                                                    {% endif %}
                                                </div>
    
                                                <div class="friend_use_nam">
                                                    <div class="_f_na">
                                                        <span>{{ user.username }}</span>
                                                    </div>
                                                </div>
    
                                                <div class="frie_options">
                                                    {% comment %} <div class="accept opt">
                                                        <div class="frined_accept">
                                                            <a href="{% url 'send_friend_request' user.id %}">
                                                                <button>
                                                                    <i class="bi bi-check-circle"></i>
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div> {% endcomment %}
                                                    <div class="opt_req">
                                                        {% if user.friend_request.is_accepted %}
                                                        <div class="accept opt">
                                                            <div class="frined_accept">
                                                                <div>
                                                                    <button disabled>
                                                                        Friends
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% else %}
                                                        <div class="accept opt">
                                                            <div class="frined_accept">
                                                                <a href="{% url 'send_friend_request' user.id %}">
                                                                    <button>
                                                                        <i class="bi bi-check-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="decline opt">
                                                            <div class="friend_decline">
                                                                <a href="{% url 'reject_friend_request' user.id %}">
                                                                    <button>
                                                                        <i class="bi bi-x-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "JS/messages.js" %}"></script>
    <script src="{% static "JS/chat.js" %}"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
</body>
</html>