*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.messages{
    width: 100%;
    height: 90vh;
}

.chatbox, .boxcontainer, .chatwrapper, .leftchatboxwrap,
.leftsearchlist, .listfriends, .listswrap, .message_container, .message_ui_wrapper, 
.message_ui_grid, .chat_left, .friend_chat_display, .chat_view,
.fre_sear, .friendss_, .c_f_fle, .act_friends, .left_friend_s, .chat_view, .chat_view_friend,
.user_chat_head, .empt_chat, .empt_friends, .empt_frind_wrap,
.fri_reqa, .empt_fr_req, .user_chat_head_wrap, .user_chat_head_wrap_,
.user_chat_box, .user_chat_box_input{
    width: 100%;
    height: 100%;
}

.user_chat_view{
    padding: 20px;
    height: 500px;
    overflow: auto;
}

.message_ui_grid{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 10px;
}

.left_friend_s, .c_f_fle, .user_chat_head_wrap_nom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.fre_sear, .user_chat_head_wrap_, .user_chat_box_container{
    position: relative;
}

.fre_sear input{
    width: 100%;
    height: 50px;
    padding: 15px 50px 15px 15px;
    outline: none;
    border: 1px solid hsla(241, 97%, 24%, 0.35);
    border-radius: 4px;
    font-size: 1.1rem;
    transition: .3s ease;
}

.fre_sear input:focus{
    border: 1px solid hsl(241, 97%, 24%);
}

.fre_sear i{
    position: absolute;
    color: hsl(241, 97%, 24%);
    right: 20px;
    top: 14px;
    font-size: 1.3rem;
}

.c_f_fle{
    gap: 1px;
}

.friend_chat_display, .chat_view{
    border-right: 1px solid hsl(241, 97%, 24%);
}

.act_friends{
    height: 70%;
    overflow: auto;
    padding-bottom: 15px;
}

.chatwrapper, .liscontainer, .leftmessoverview{
    display: flex;
    flex-direction: row;
}

::-webkit-scrollbar{
    display: none;
}

.leftbox{
    width: 25%;
    height: 100vh;
    position: relative;
    background: hsl(0, 0%, 0%);
    padding: 20px 10px;
    overflow-y: scroll;
}

.tabi{
    width: 5%;
    background: hsla(0, 0%, 0%);
    border-right: 1px solid hsla(241, 97%, 24%, 0.582);
}

.leftchatboxwrap, .listswrap, .messTime{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lefthead{
    font-size: 2rem;
    font-weight: 800;
}

.searchlistfriends {
    position: relative;
    padding-bottom: 30px;
}

.liscontainer{
    width: 100%;
    cursor: pointer;
    display: inline-flex;
    align-items: center !important;
    transition: .3s ease;
    border-radius: 10px;
    padding: 5px;
    position: relative;
}

.liscontainer:hover{
    background: hsla(0, 0%, 0%, 0.09);
}

.listswrap, .liscontainer{
    gap: 10px;
}

.friendProfile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid hsla(0, 0%, 85%, 0.32);
}

.leftmessoverview{
    justify-content: space-between;
    align-items: center;
}

.vieww{
    color: hsla(0, 0%, 0%, 0.395);
}

.Timeset{
    font-size: .8rem;
}

.messTime{
    padding-left: 30px;
}

.messTime{
    gap: 5px;
    align-items: center;
}

.messNum, .chat_input_emoje{
    position: relative;
}

.numcount{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: hsl(241, 97%, 24%);
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}

.fiends_req, .empt_fr_req_cont{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chat_view_friend, .empt_chat_message, .fiends_req, .empt_fr_req_cont{
    padding: 10px;
}

.empt_chat_message{
    color: hsl(241, 97%, 24%);
}

.empt_chat_message i{
    color: hsl(241, 97%, 24%);
}

.empt_chat, .empt_frind_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}


.empt_chat_img, .empt_chat_message, .empt_frind_wrap, .empt_friends_img, .empt_fr_req_img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.empt_chat_img img, .empt_fr_req_img img{
    width: 60%;
}

.empt_friends_img img{
    width: 100%;
}

.empt_chat_message, .empt_frind_wrap{
    flex-direction: column;
}

.new_friends{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.friends_req_view{
    background: #fff;
    box-shadow: 0 0 5px 3px #eee;
    border-radius: 4px;
    padding: 10px;
}

.nf{
    color: hsl(241, 97%, 24%);
    font-size: 1.4rem;
}

.empt_fr_req_cont h2{
    font-size: 1rem;
    text-align: center;
}

.cancel, .cancelv{
    padding: 30px;
    position: relative;
    float: right;
}

.cancel button, .cancelv button{
    padding: 10px;
    font-size: 2rem;
    background: transparent;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.cancel button:hover, .cancelv button:hover{
    background: rgb(255, 0, 0);
}

.cancel button i, .cancelv button i{
    color: rgb(253, 253, 255);
}

.new_frie_head{
    font-size: 1rem;
}

.opt button{
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
    background: hsla(241, 97%, 24%);
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.opt button i{
    font-size: 1.3rem;
}

.decline button{
    background: #eee;
}

.decline button i{
    color: hsl(0, 100%, 50%);
}

.fri_reqa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.friend_profile, .user_chat_head_wrap_image{
    width: 55px;
    height: 55px;
}

.user_chat_head_wrap_image{
    width: 40px;
    height: 40px;
}

.friend_profile img, .user_chat_head_wrap_image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

._f_na{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 800;
}

.opt_req{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 1.3rem;
}

.new_frie_head{
    color: hsla(241, 97%, 24%, 0.582);
    font-family: 600;
    font-size: 1rem;
    padding: 10px;
}

.user_chat_head{
    background: #eee;
    height: 100px;
}

.user_chat_head_wrap, .user_chat_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.user_chat_head_wrap_{
    display: flex;
    align-items: center;
    gap: 13px;
}

.user_chat_head_wrap_nom{
    padding: 1px;
    gap: 5px;
}

.user_chat_head_user_name{
    font-size: .9rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user_chat_head_user_ls{
    font-size: .9rem;
    font-weight: 400;
}

.chat_view_friend{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.user_chat_input{
    width: 100%;
}

.user_chat_box_container input{
    width: 100%;
    height: 52px;
    border: 1px solid hsla(241, 97%, 24%, 0.436);
    font-size: 1.2rem;
    border-radius: 6px;
    outline: none;
    padding: 15px;
}

.chat_input_emoje button i, .user_chat_send button i{
    color: hsl(241, 97%, 24%);
}

.chat_iput_box_imoji{
    position: absolute;
    bottom: 80px;
    z-index: 99;
    opacity: 0;
    display: none;
    transition: .3s ease;
}

.show_emoji{
    display: initial;
    opacity: 1;
    transform: scale(1);
}

.user_chat__wrappers{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user_chat__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.user_chat_receive_box {
    color: #333;
    padding: 10px;
    word-wrap: break-word;
}

.user_chat_receiver_name {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
    text-align: left;
}

.user_chat_sent {
    display: flex;
    justify-content: flex-end;
}

.user_chat_sender_box {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.user_chat_send_name {
    font-size: 12px;
    color: #ccc;
    margin-top: 5px;
    text-align: right;
}

.chat_inbox_receive, .chat_inbox_send {
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
}

.user_chat_receive, .user_chat_send {
    padding: 5px;
    font-size: 14px;
}

.user_chat_receive {
    text-align: left;
}

.user_chat_send {
    text-align: right;
}

.user_chat_sent {
    text-align: right;
    margin-left: auto;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 10px;
}

.user_chat_receive_wrapper {
    text-align: left;
    margin-right: auto;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}


@media (max-width: 768px) { 
    .message_ui_grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .ls{
        display: none;
    }
   
}